@font-face {
	font-family: Pokemon-hollow;
	src: url('Pokemon Hollow.ttf');
}

@font-face {
	font-family: Pokemon-solid;
	src: url('Pokemon Solid.ttf');
}

.list-entry {
	height: 70px;
	line-height: 48px;
}

.card-margin {
	margin-bottom: 80px;
}

.white-text {
	color: white;
}

.pokefont {
	font-family: 'Pokemon-solid';
}

.col-demo {
	padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f7f7f7;
    text-align: center;
}

.col-strong {
	border: 2px solid yellow;
}

.col-weak {
	border: 2px solid red;
}

.button-demo {
	margin-top: 5px;
}

.nolink a:link {
	text-decoration: none;
}

.old-version {
	color: red;
	text-decoration: line-through;
}

.old-version-popup {
	color: red;
	font-weight: bold;
}

.current-version-popup {
	text-decoration: line-through;
	opacity: 0.3;
}

ion-header-bar h1.with-subtitle {
    top: -.5rem !important;
    overflow: visible !important;
}

ion-header-bar span.is-subtitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 1rem;
    font-size: .8rem;
    font-weight: normal;
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.7;
}