<div class="tabs tabs-icon-top tabs-striped">
  <a class="tab-item" ng-class="{'active': pokemonListActive}" ng-click="pokemonListActive = true;">
    <i class="icon ion-ios-list-outline"></i>
    Pokemon list
  </a>
  <a class="tab-item" ng-class="{'active': !pokemonListActive}" ng-click="pokemonListActive = false;">
    <i class="icon ion-clipboard"></i>
    Type list
  </a>
</div>

<div class="card">
  <div class="list">
    <div class="row item">
      
    </div>
  </div>
</div>

<ion-header-bar class="bar-stable">
  <h1 class="title with-subtitle">{{title}} <span style="opacity: 0.5;" ng-class="{'old-version': isOldVersion}">{{version.number}}</span><span class="is-subtitle">Skapad av Didrik Munther</span></h1>
  <button class="button icon ion-navicon" ng-click="infoPopup();"></button>
</ion-header-bar>
<ion-content>

  <div class="card card-margin" ng-if="pokemonListActive">
    <ion-list class="nolink">
        <div
        class="row item list-entry"
        ng-repeat="pokemon in pokemons"
        ng-init="url = 'https://img.pokemondb.net/artwork/' + pokemon.$id.toLowerCase() + '.jpg';"
        ng-click="hideImage(); go('/pokemon/{{pokemon.$id}}');"
        style="">
          <div class="col col-50 col-demo">{{pokemon.$id}}</div>
          <div class="col col-25 col-demo" style="background-color:#{{colors[pokemon.type1]}}">{{pokemon.type1}}</div>
          <div class="col col-25 col-demo" style="background-color:#{{colors[pokemon.type2]}}">{{pokemon.type2}}</div>
        </div>
    </ion-list>
  </div>

  <div class="card card-margin" ng-if="!pokemonListActive">
    <ion-list class="nolink">
      <div
      class="row item list-entry"
      ng-repeat="(type, color) in colors"
      ng-click="go('/type/' + type)"
      ng-if="type != 'Empty'"
      style="">
        <div class="col col-100 col-demo" style="background-color:#{{color}};" ng-class="{'white-text': textWhite(color)}">{{type}}</div>

      </div>
    </ion-list>
  </div>

</ion-content>