<div class="tabs tabs-icon-top tabs-striped">
  <a class="tab-item" ng-class="{'active': !isStrengths}" ng-click="isStrengths = false;">
    <i class="icon ion-thumbsdown"></i>
    Defense weaknesses
  </a>
  <a class="tab-item" ng-class="{'active': isStrengths}" ng-click="isStrengths = true;">
    <i class="icon ion-thumbsup"></i>
    Attack strengths
  </a>
  <a class="tab-item" ng-click="go('/');">
    <i class="icon ion-ios-list-outline"></i>
    Go to list
  </a>
  <a class="tab-item" ng-click="goBack();">
    <i class="icon ion-arrow-return-left"></i>
    Go Back
  </a>
</div>

<ion-header-bar class="bar-stable">
  <h1 class="title with-subtitle">{{title}} <span style="opacity: 0.5;" ng-class="{'old-version': isOldVersion}">{{version.number}}</span><span class="is-subtitle">Skapad av Didrik Munther</span></h1>
  <button class="button icon ion-navicon" ng-click="infoPopup();"></button>
</ion-header-bar>
<ion-content>

  <div
  class="card"
  ng-repeat="(type, color) in colors"
  ng-if="typeName == type"
  >
    <ion-list class="nolink">
        <div class="item item-divider" style="text-align: center;">{{isStrengths ? 'Attacker' : 'Defender'}}</div>
        <div class="row item item-divider list-entry">
          <div class="col col-100 col-demo" style="background-color:#{{color}};" ng-class="{'white-text': textWhite(color)}">{{type}}</div>
        </div>
    </ion-list>
  </div>

  <div class="card" style="margin-bottom:100px;">
    <ion-list class="nolink">
        <div class="item item-divider" style="text-align: center;">{{!isStrengths ? 'Attackers' : 'Defenders'}}</div>
        <div class="row item item-divider" style="text-align: center; margin-bottom:3px;">
          <div class="col col-75 col-demo">Type</div>
          <div class="col col-25 col-demo">Score</div>
        </div>
        <div
        class="row item list-entry"
        ng-repeat="type in colorsList | typesToPokemon | filterCounters:{'type1': typeName}:this:ready:isStrengths | orderBy:'-strength':isStrengths"
        ng-if="type.$id != 'Empty'"
        ng-click="go('/type/{{type.$id}}');"
        style="background-color:{{color(type.strength, 4, -5)}}; margin-bottom:-10px;">
          <div class="col col-75 col-demo" style="background-color: #{{type.$value}}" ng-class="{'white-text': textWhite(type.$value)}">{{type.$id}}</div>
          <div class="col col-25 col-demo">{{type.strength}}</div>
<!--           <div class="col col-25 col-demo">{{pokemon.$id}}</div>
          <div class="col col-25 col-demo" style="background-color:#{{colors[pokemon.type1]}}" ng-class="{'col-strong': pokemon.type1Strong, 'col-weak': pokemon.type1Weak}">{{pokemon.type1}}</div>
          <div class="col col-25 col-demo" style="background-color:#{{colors[pokemon.type2]}}" ng-class="{'col-strong': pokemon.type2Strong, 'col-weak': pokemon.type2Weak}">{{pokemon.type2}}</div>
          <div class="col col-25 col-demo">{{pokemon.strength}}</div> -->
        </div>
    </ion-list>
  </div>

</ion-content>